
/* ===============================================================================Form Styles */

@media only screen and (min-width:480px){
    #home-form-wrapper{
      background-color: #0475B2 !important;
      color: white !important;
      border-radius: 7px !important;
      padding: 20px 40px !important;
    }
    #home-form-wrapper .home-form-intro-text h2{
      color: white !important;
      margin-bottom: 7px;
      font-weight: 600 !important;
      font-size:26px !important;
  
    }
    #home-form-wrapper .home-form-intro-text p{
      font-weight: 400 !important;
      font-size:16px !important;
    }
    #home-form-wrapper .form-wrap label{
      color: white !important;
      font-size: 14px !important;
      font-weight: 400 !important;
    }
    #home-form-wrapper .form-wrap label a{
      color: #FF9000!important;
      font-size: 12px!important;
      font-weight: 500;
  }
  /* change hover color here */
  #home-form-wrapper .form-wrap label a:hover{
    color: white !important;
  }
  
  #home-form-wrapper .form-wrap #trip-cost-error,
  #home-form-wrapper .form-wrap #primary-destination-error,
  #home-form-wrapper .form-wrap #departure-error,
  #home-form-wrapper .form-wrap #return-error,
  #home-form-wrapper .form-wrap #num-travelers-error,
  #home-form-wrapper .form-wrap #your-residence-state-error,
  #home-form-wrapper .form-wrap #initial-trip-payment-error{
    /* color: #f3bd1d !important; */
    color: #fca5a5 !important;
    font-size: 12px !important;
  }
    #home-form-wrapper .form-wrap{
     width: 100% !important;
    }
    #home-form-wrapper  .home-form-intro-text{
      width: 100%;
      margin: 0px auto !important;
    }
    
    
    #home-form-wrapper .get-quotes-btn:hover{
      transition: none !important
    }
    
    #home-form-wrapper input,
    #home-form-wrapper select{
      background-color: white !important;
      border: none  !important;
      font-size: 14px !important;
      padding: 6px 20px !important;
      font-weight: 500 !important;
    }
    
    #home-form-wrapper input:active,
    #home-form-wrapper select:active,
    #home-form-wrapper input:focus,
    #home-form-wrapper select:focus{
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
    }
    
    #home-form-wrapper input::placeholder,
    #home-form-wrapper select::placeholder{
      color: gray !important;
      font-size: 14px !important;
      font-weight: 400 !important;
    }
    
    #home-form-wrapper .fa-question-circle {
      z-index: 2;
      width: 18px;
      height: 18px;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-question-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/></svg>');
      
    } 
  
    #home-form-wrapper input.ti-btn {
      /* width: 100%; */
      padding: 18px 25px!important;
      font-size: 22px!important;
      font-weight: 500!important;
      margin-top: 10px!important;
      background: #ff9000!important;
      border: none!important;
      color: #fff!important
  }

    #home-form-wrapper input.ti-btn:hover{
      transition: none !important;
      background: #fa9d23 !important;
      
    }
  
   
    .slide-text-container{
      background-color: rgba(255, 255, 255, 0.748) !important;
      border-radius:7px 0 0px 7px!important;
    }
    .slide-text-container .slide-text h1{
      text-shadow:none !important;
      color: black !important;
        font-weight:600;
    }
    .slide-text-container .slide-text p,
    .slide-text-container .slide-text ul{
      font-weight:500 !important;
       text-shadow:none !important;
      color: black !important;
    }
  }